* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-size: $reset-font-size;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}
body {
  margin: 0;
  padding: 0;
  font-size: $basic-font-size;
  line-height: 1.6;
  color: #333;
}
button:not([disabled]),
.button:not([disabled]) {
  cursor: pointer;
}
ul, li {
  margin: 0;
  padding: 0;
}
